

* {
    box-sizing: border-box;
}

body{
    background-color: #EBEBEB;
}



/*STYLE THE SEARCH BAR*/

.flex-container1 {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.flex-container1 .action-wrapper {
    display: flex;
    align-items: center;
    margin-right:20px;
}

.flex-container1 .search-icon-lg{
    margin-left:20px;
}

#search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#search-button i {
    font-size: 13px;
    margin-right: 5px;
}

#search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 84, 126);
    z-index: 9999;
}

#search-overlay form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-overlay input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(43, 84, 126);
    color:white;
}

#search-overlay input[type="text"]::placeholder {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#search-overlay button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(43, 84, 126);
    color: rgb(43, 84, 126);
    font-size: 16px;
    margin-left: 10px;
}

#search-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-close i {
    font-size: 24px;
    color: white;
}



/* STYLE THE HEADER */
.flex-container2 {
    display: flex;
    background-color: rgb(43, 84, 126);
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
}

.flex-container2 > div {
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}




/*STYLE THE COMPRESS NAVBAR */

.flex-container2 .left-nav-logo{
    display: flex;
}

.flex-container2 .right-links{
    display: flex;
}

.flex-container2 .right-links .flex-container-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 14px;
    font-weight: bold;
}

.flex-container2 .left-nav-logo .nav-bar-sm-md  .offcanvas .offcanvas-body .offcanvas-link{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.nav-bar-sm-md {
    display: none;
}

.btn-primary{
    border-color: rgb(43, 84, 126);
}

.offcanvas-link{
    display: block;
}

.offcanvas-link:hover {
    background-color: rgb(84, 159, 234);
}

.offcanvas-header{
    background-color: rgb(43, 84, 126);
}

.offcanvas-body{
    background-color: #e3f2fd;
}



/*STYLE THE SEARCH BAR MOBILE ONLY*/
.search-icon-md{
    display: none;
}

#search-button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-button1 i {
    font-size: 24px;
}

#search-overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 84, 126);
    z-index: 9999;
}

#search-overlay1 form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-overlay1 input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(43, 84, 126);
    color:white;
}

#search-overlay1 input[type="text"]::placeholder {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#search-overlay1 button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(43, 84, 126);
    color: rgb(43, 84, 126);
    font-size: 16px;
    margin-left: 10px;
}

#search-button1 i{
    font-size:18px;
}

#search-close1 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-close1 i {
    font-size: 24px;
    color: white;
}




/* STYLE THE NAVBAR */
.flex-container3{
    display: flex;
    background-color: #e3f2fd;
    justify-content: space-between;
}

.navbar-lg {
    display: flex;
    align-items: center;
}

.liberotv-lg {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
}

.liberotv-lg a{
    color: black;
    margin-right: 5px;
    text-decoration: none;
}

.navbar-lg .nav-link  {
    float: left;
    display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 12px;

}

.liberotv-md{
    background-color: #efefef;
    align-items: center;
    text-align: right
}

.liberotv-md a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-right: 5px;
    text-decoration: none;
}

.left-links-md{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 30px;
}

.left-links-md a{
    color: #1887E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 5px;
    margin-right: 10px;
    font-weight: bold;
}



/* STYLE THE CONTENT*/
.container-fluid{
    margin: 5px auto 0px;
    max-width: 1024px;

    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #FFF;
}

.main-article {
    margin-top: 20px;
    border-top: 2px solid black;
}
.aside-article{
    margin-top: 20px;
    border-top: 2px solid black;
}

.title{
    margin-top: 15px;
    margin-bottom: 15px;
}

.overtitle{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
}

.subtitle{
    margin-bottom: 20px;
}

.title a{
    color: black;
    font-family: inherit;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.11;
    text-decoration: none;

}

.overtitle a {
    color: #9D0000;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
}

.subtitle a{
    color: black;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.11;
    text-decoration: none;
}

.aside-title{
    margin-top: 10px;
    margin-bottom: 20px;
}

.aside-overtitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    padding-bottom: 10px;
}

.aside-title a{

    color: black;
    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.11;
    text-decoration: none;
}

.aside-overtitle a {
    margin-top: 10px;
    text-transform: uppercase;
    color: #9D0000;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.main-article-small{
    display: flex;
    border-top: 2px solid black;
}

.article-img{
    padding: 5px 5px 5px 5px;
}


#carousel-mobile-only{
    background-color: white;
    text-align: center;
}




/*STYLE THE VIDEO CAROUSEL*/
.carousel{
    background-color: #030303;
    color:white;
    width: 100%;
}

.text-center{
    color: white;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.25px;
    line-height: 1.11;
    text-decoration: none;
    margin-top: 10px;
}

.mb-3{
    text-align: center;
}

.carousel-control-prev, .carousel-control-next{
    align-items: flex-end;
    margin-bottom: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 23px;
    height: 20px;
}





/* STYLE THE SURVEY "SONDAGGIO"  */
.container-survey{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.container-header-img{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 5px solid black;
}

.survey-title{
    text-align: center;
    color: #1887E4;
    font-family: inherit;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.11;

}

.survey-question{
    text-align: center;
    color: black;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-dropdown{
    display: flex;
    justify-content: space-around;
    transform: translate(+0%, -50%);
    -ms-transform: translate(+0%, -50%);
}

.dropbtn {
    background-color: #1887E4;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(43, 84, 126);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #e3f2fd;
    color:#1887E4;
}

.show {display: block;}






/*STYLE THE VIDEO WRAPPER "LIBERO TV" */
.video-carousel-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.video-carousel{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.container-header-top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.video{
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container-play-icon{
    position: relative;
    bottom: 130px;
    left: 30px;
    transform: translate(-50%, 50%);

}

 .big-play img{
    width: 60px;
    height: 60px;
}


.container-small-play-icon{
    position: relative;
    bottom: 70px;
    left: 20px;
    transform: translate(-50%, 50%);

}

.small-video{
    position: relative;
    text-align: center;
    flex-basis: 25%;
    flex-grow: 1;
    border-top: 6px solid white;
    border-right: 6px solid white;
}

.small-video-title{
    position: relative;
    z-index: 1;
    margin-top: 2px;
}

.video-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



/* STYLE THE SWIPER IN THE VIDEO WRAPPER "LIBERO TV" */
.swiper{
    height:auto;
    width: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: #d7d5d5;
}

.swiper-slide .swiper-image a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-image{
    width: 100%;
}

.swiper-title a{
    color: white;
    text-decoration: none;
}

.container-play-icon-carousel{
    position: relative;
    bottom: 60px;
    right:75px;
    transform: translate(-50%, 50%);
}



/* STYLE THE SWIPER "ARGOMENTI"*/

#swiper-container2{
    width: 1000px;
    height:auto;
    margin-top:20px;
    justify-content: center;
}

#mySwiper2 {
    position: relative;
    width:1000px;
}

.swiper_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#swiper-wrapper2{
    padding-bottom: 2rem;

}

#swiper-wrapper2 .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#swiper-wrapper2 .swiper-slide img {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_art_title a{
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    color: black;
    text-decoration: none;
    margin-top: 10px;

    text-align: center;
}




/*STYLE THE CONTENT WRAPPER WITH CAROUSEL */

.colonna-stile-libero{
    background-color: rgb(43, 84, 126);
    display: flex;
    flex-direction: column;
}

.art_title{

    border-bottom: 3px solid #B0B0B0;
    padding: 15px 0px 28px;
    margin-left:10px;
    margin-right: 10px;
    color: #B0B0B0;
    font-family: inherit;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.11;
    text-decoration: none;
}

#carouselSlidesOnly{
    background-color: rgb(43, 84, 126);
    padding-left: 0;
}

.hidden-title{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}

.hidden-title a{

    color: #FF7E29;
    border: none;
    font-family: inherit;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.11;
    text-decoration: none;
}

.carousel-title{
    padding-top:15px;
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-title a{
    color: white;
    font-family: inherit;
    font-size: 27px;
    font-weight: 900;
    line-height: 1.11;
    text-decoration: none;
    text-align: center;
}

.carousel-article{
    padding: 20px 15px 48px;
}

.carousel-article-title a{
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.11;
    text-decoration: none;
    text-align: center;
}




/* STYLE THE FOOTER*/
.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 84, 126);
    height: 80px;
    padding: 12px 14px 23px;
}

.logo-footer img{
    width: 160px;
    height: 25px;
}

.nav-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-footer1{
    margin-top: 5px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.nav-footer2{
    margin-top: 5px;
    margin-right:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.nav-footer3{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.nav-footer1 a, .nav-footer2 a, .nav-footer3 a{
    margin-bottom:10px;
    text-decoration: none;
    color:white;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;

}

.additional-links {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 12px;
}

.additional-links a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.icon-footer{
    display: flex;
}

.container-footer2{

    background-color: rgb(43, 84, 126);
    border-top: 1px solid whitesmoke;
    padding: 10px 15px;
}

.container-footer2 .additional-links{
    font-size: 15px;
}
.container-footer2 .additional-links .link-edicola{
    margin-right: 20px;
}

.container-footer3{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 84, 126);
    border-top: 1px solid whitesmoke;
    padding-left: 25px;
    padding-top:10px;
    padding-bottom:10px;
}

.container-footer3 .nav-footer1, .container-footer3 .nav-footer2, .container-footer3 .nav-footer3{
    flex-basis: 33%;
    flex-grow: 1;

}

.container-footer3 .nav-footer1 a, .container-footer3 .nav-footer2 a, .container-footer3 .nav-footer3 a{
    font-size: 14px;
}

.container-copyright{
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 84, 126);
    border-top: 1px solid whitesmoke;
    padding: 20px 20px 20px 25px;
}

.copyright {
    color: #ACB8C1;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 80%;
}

.back-to-top{
    display: flex;

}

.back-to-top .arrow-icon{
    padding-right:10px;
}

.back-to-top a{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}





/* CLASSES FOR JS */

.fc1 {
    display: none;
}

.fc2{
    height: 60px;
    position: fixed;
    z-index: 3;
}

.reduced-logo{
    width: 108px;
    height: 32px;
}

.no-links{
    display:none;
}

.no-liberotv{
    display: none;
}

.hamburger-menu{
    display:block;
}

.search{
    display: block;
}

.first-title-orange{
    color: #FF7E29;
}

.art-title-orange{
    color: #FF7E29;
}



/*MEDIA QUERY */


@media screen and (max-width: 1200px){
    .flex-container3 .liberotv-lg {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .liberotv-md {
        display: none;
    }
}

@media screen and (max-width: 1024px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 890px;
    }

    .container-footer .additional-links{
        flex-direction: column;
    }

}

@media screen and (max-width: 992px) {
    .navbar-lg{
        display:none;
    }

}

@media screen and (max-width: 992px) {
    .flex-container2 .left-nav-logo .nav-bar-sm-md{
        display: block;
    }

    .video-carousel-container {
        margin-top:30px;
    }
}

@media screen and (max-width: 810px){
    .container-footer .additional-links{
        display: none;
    }

    .container-footer .nav-footer{
        display: none;
    }

    .container-footer .icon-footer-xs{
        display: none;
    }

    .copyright{
        flex-basis: 100%;
    }

    .container-copyright{
        flex-direction: column;
    }

    .back-to-top{
        justify-content: center;
        padding-top:10px;
    }
}

@media screen and (min-width: 810px){
    .container-footer .icon-footer-sm{
        display: none;
    }

    .container-footer2{
        display: none;
    }

    .container-footer3{
        display: none;
    }
}

@media screen and (min-width: 768px){

    .swiper-container{
        display: none;
    }

    .left-links-md{
        display: none;
    }

    #carouselExampleIndicators2{
        display: none;
    }

    .hidden-title{
        display: none;
    }

    #next-soloLibero{
        display: none;
    }

    #prev-soloLibero{
        display: none;
    }

}

@media screen and (max-width: 768px){
    .flex-container2 .right-links {
        display:none;
    }

    .flex-container2{
        height: 60px;
    }

    .flex-container2 .left-nav-logo .logo{
        width: 108px;
        height: 32px;
    }

    .liberotv-md{
        display: none;
    }

    .search-icon-md{   /*di default è display none*/
        display: block;
    }

    .flex-container1{
        display: none;
    }

    #row1 , #row2 , #row3 {
        display:none;
    }

    .title a{
        font-size:25px;
    }

    .video-carousel-container .title a{
        font-size: 21px;
    }

    .video-wrapper{
        display: none;
    }

    #colonna-title-md-lg{
        display: none;
    }

}

@media screen and (max-width: 576px){
    .swiper{
        width: 430px;
    }

    .container-play-icon-carousel{
        bottom: 60px;
        right:60px;
    }

     .big-play img{
        width: 45px;
        height: 45px;
    }


     .logo-footer img{
         width: 130px;
         height: 20px;
     }


}

@media screen and (max-width: 465px){
    .swiper{
        width: 300px;
    }

    .left-links-md{
        display: none;
    }

    .title a{
        font-size:20px;
    }

    .video-carousel-container .title a{
        font-size: 17px;
    }

    .overtitle a{
        font-size: 12px;
    }

    .aside-title a{
        font-size:17px;
    }

    .aside-overtitle a{
        font-size:11px;
    }


}

@media screen and (max-width: 340px){
    .swiper{
        width: 200px;
    }
}

@media screen and (max-width: 900px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 758px;
    }
}

@media screen and (max-width: 768px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 630px;
    }

}

@media screen and (max-width: 640px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 500px;
    }
}

@media screen and (max-width: 525px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 350px;
    }
}

@media screen and (max-width: 375px){

    #swiper-container2 {
        width:100%;
    }

    #mySwiper2{
        width: 250px;
    }
}